link(rel="stylesheet", href="/main.css", data-inline)

body
  div(class='header')
    span Reset de senha
  div(class='content')
    span Olá #{name}, você está recebendo este email pois solicitou a troca de senha
  div(class='reset_section')
    a(href=url, class='reset')  Resetar senha
    
